.UserPage__main{
    display: flex;
}

.Profile__edit{
    height: 100;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    background-color: var(--color-lightGrey);
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

#Default__profile__image{
    width: 12rem;
    height: 12rem;
    border-radius: 100%;
    margin: 10px;
    cursor: pointer;
    border: 1px solid var(--color-darkWhite);
}

#Profile__edit__icon{
    all: unset;
    position: relative;
    width: 15%;
    padding-bottom: 15%;
    left: 70px;
    bottom: 60px;
    background: url('../../../public/images/profile_edit_icon.png') center/cover repeat;
    cursor: pointer;
}

.Profile__edit__btn{
    cursor: pointer;
    position: relative;
    bottom: 25px;
}

.Userpage__default__information{
    font-weight: bold;
}

.Userpage__default{
    border: 1px solid var(--color-darkWhite);
    border-radius: var(--border-radius);
    background-color: var(--color-userpage-block);
    width: 50%;
    height: 18px;
    margin: 3px;
    padding: 8px;
    text-align: center;
}

.User__book{
    flex-basis: 75%;
}

.User__book__section{
    display: flex;
    flex-direction: column;
    margin: 100px;
    text-align: center;
}

.User__book__menu, .User__book__list{
    /* display: flex; */
    border: 1px solid var(--color-darkWhite);
    border-radius: var(--border-radius);
    background-color: var(--color-userpage-block);
}

.User__book__menu{
    font-weight: bold;
    width: 10%;
    height: 20px;
    margin: 5px;
    padding:8px;
}

.User__book__list{
    width: 40%;
    height: 20px;
    padding:8px;
    margin: 5px;
    cursor: pointer;
}

.User__book__list:hover{
    background-color: rgb(201, 199, 197);
}

/* 아래는 잔디 CSS */
:root {
    --square-size: 15px;
    --square-gap: 5px;
    --week-width: calc(var(--square-size) + var(--square-gap));
  }
  
.months { grid-area: months; }
.days { grid-area: days; }
.squares { grid-area: squares; }

.graph {
display: inline-grid;
grid-template-areas: "empty months"
                        "days squares";
grid-template-columns: auto 1fr;
grid-gap: 10px;
}

.months {
display: grid;
list-style: none;
grid-template-columns: calc(var(--week-width) * 4) /* Jan */
                        calc(var(--week-width) * 4) /* Feb */
                        calc(var(--week-width) * 4) /* Mar */
                        calc(var(--week-width) * 5) /* Apr */
                        calc(var(--week-width) * 4) /* May */
                        calc(var(--week-width) * 4) /* Jun */
                        calc(var(--week-width) * 5) /* Jul */
                        calc(var(--week-width) * 4) /* Aug */
                        calc(var(--week-width) * 4) /* Sep */
                        calc(var(--week-width) * 5) /* Oct */
                        calc(var(--week-width) * 4) /* Nov */
                        calc(var(--week-width) * 5) /* Dec */;
}

.days,
.squares {
list-style: none;
display: grid;
grid-gap: var(--square-gap);
grid-template-rows: repeat(7, var(--square-size));
}

.squares {
grid-auto-flow: column;
grid-auto-columns: var(--square-size);
}


/* Other styling */

body {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 12px;
}

.graph {
padding: 10px;
border: 1px var(--color-darkWhite) solid;
border-radius: var(--border-radius);
margin: 10px;
}

.days li:nth-child(odd) {
visibility: hidden;
}

.squares li {
background-color: #ebedf0;
border-radius: var(--border-radius);
}

.squares li[data-level='1']{
    background-color: #c6e48b;
}

/* .squares li[data-level="1"] {
background-color: #c6e48b;
}

.squares li[data-level="2"] {
background-color: #7bc96f;
}

.squares li[data-level="3"] {
background-color: #196127;
} */