.wrap {
    width: 100%;
    height: 85%;
}

.container {
    width: 100%;
    height: 100%;
    
    overflow: scroll;
}

.container::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.container::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: rgba(129, 161, 193, 0.38);
    border-radius: 16px;
}

.title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #1A202C;
    
    display: flex;
    align-items: center;
}

.highlightInfo {
    display: flex;
    align-items: center;
}

.pageNumber {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    display: flex;
    align-items: center;
    color: #1A202C;
}

.highlightCard {
    display: flex;
    /* align-items: center; */
    margin: 8px 0;
    max-width: 100%;
    max-height: 42px;
}

.highlightColor {
    border: 1px solid var(--color-2-c);
    background-color: var(--color-2-c);
    border-radius: 100%;
    width: 8px;
    height: 8px;
    margin-top: 6px;
    margin-right: 8px;
    
    align-self: flex-start;
}

.highlightedText {
    width: 100%;

    /* margin: 8px 0 8px 8px; */
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #2D3748;
    
    /* display: flex; */
    /* align-items: center; */
}

.clearHighlight {
    margin-top: 6px;
    
    align-self: flex-start;
}

.highlightCardWrap {
    border: 1px solid #E2E5E6;
    height: 10%;
    overflow: hidden;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.highlightCardTitle {
    display: flex;
}