.Library__container {
    margin: 60px auto;
    max-width: 1200px;
}

.Library__recentlyRead__cards__container {
    width: 100%;
    /* border: 1px solid black; */
    height: 280px;
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.Library__recentlyRead__cards__card {
    height: 360px;
    width: 240px;
    border: 1px solid black;
    
    display: flex;
    flex-direction: column;
}

.Library__recentlyRead__cards__card__bookImage {
    height: 300px;
    width: 220px;
    border: 1px solid black;
    margin: auto;
    
    display: flex;
    flex-direction: column;
}

.Library__recentlyRead__cards__card__bookImage--wrap{
    position: absolute;
    margin: 120px auto;
    opacity: 0;
}

.Library__recentlyRead__cards__card__bookImage--wrap:hover{
    opacity: 1;
    transition: .3s ease;

}

.Library__recentlyRead__cards__card__bookImage--readButton,
.Library__recentlyRead__cards__card__bookImage--highlightButton {
    height: 50px;
    width: 100px;
    
    cursor: pointer;
    margin: 4px;
    margin-top: 2px;

    border-radius: var(--border-radius);
    border: none;
    font-size: large;
    background-color: var(--color-1-c);
    color: white;
}

.Library__recentlyRead__cards__card__bookImage--readButton:hover,
.Library__recentlyRead__cards__card__bookImage--highlightButton:hover {
    background-color: var(--color-2-a);
}

.Library__recentlyRead__cards__content {
    margin-top: 6px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}