.main{
    margin: 100px;
}

.section{
    margin-top: 50px;
    grid-template-areas:
        'bookList bookList bookList bookList'
        'book book book book'
        'bookInfo bookInfo bookInfo bookInfo'
}

.bookList{
    display: grid;
    height: 310px;
    animation: imageAnime 0.5s;
    grid-template-columns: repeat(auto-fit, minmax(25%, auto));
    /* column-gap: 10px; */
    /* gap: 10px; */
    grid-area: bookList;
}

@keyframes imageAnime {
    from {
        opacity: 0;
        transform: translateY(5%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.book{
    /* height: 300px;
    width: 220px; */
    height: 240px;
    width: 168px;
    border-radius: var(--border-radius-2);
    box-shadow: 1px 1px 10px;
    margin: auto;
    background: url('../../../public/images/jacobfugger.png') center/cover no-repeat;
    grid-area: book;
}

.book:hover{
    opacity: 90%;
    cursor: pointer;
}

.bookInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: bookInfo;
}

.label{
    width: 80px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #2D3748;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    position: fixed;
    bottom: 45px;
    right: 50px;
}

.label:hover{
    opacity: 85%;
}

.pdfName{
    font-weight: bold;
    font-size: 15px;
    /* 글자가 길면 다음 문단으로 넘어가게 해야하는데... 음... */
    /* width: 1px; */
    /* text-overflow: ellipsis; */
    /* word-break: keep-all; */
}