.main{
    margin: 100px 200px 100px 200px;
}

.section{
    margin-top: 50px;
}

.bookList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 310px;
    flex-direction: column;
    column-width: 200%;
    animation: imageAnime 0.5s;
}

@keyframes imageAnime {
    from {
        opacity: 0;
        transform: translateY(5%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.book{
    /* height: 300px;
    width: 220px; */
    height: 240px;
    width: 168px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.book:hover{
    opacity: 90%;
    cursor: pointer;
}

.bookInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label{
    width: 80px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #2D3748;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    position: fixed;
    bottom: 45px;
    right: 50px;
}

.label:hover{
    opacity: 85%;
}

.pdfName{
    font-weight: bold;
    font-size: 14px;
    /* 글자가 길면 다음 문단으로 넘어가게 해야하는데... 음... */
    /* width: 1px; */
    text-overflow: ellipsis;
    /* word-break: keep-all; */
}