.PersonalReading {
    box-sizing: border-box;
    height: inherit;
    padding: 2% 0 2% 0;
    /* border: 1px solid black; */
    background-color: #F5F5F5;
    position: relative;
}

.PersonalReading__container {
    /* border: 1px solid black; */
    height: inherit;
    position: relative;
    
    display:flex;
}

    /* sideBar */
    .PersonalReading__sideBar {
        position: absolute;
        left: 0;
        /* width: 10px; */
        /* border: 1px solid red; */
        z-index: 10;
        /* color: red; */
        height: 100%;
        
        align-self: center;
        display: flex;
    }

    /* mainPage */
    .PersonalReading__mainPage {
        /* width: 1000px; */
        margin-right: 12px;
        height: 88vh;
        border: 1px solid #E2E5E6;
        border-radius: 0 16px 16px 0;
        
        display: flex;
        /* flex-grow: 7; */
    }
    
    #page-container::-webkit-scrollbar {
        width: 6px;
        background-color: white;
        border-radius: 16px 0 0 16px;
    }
    
    #page-container::-webkit-scrollbar-thumb {
        width: 6px;
        background-color: rgba(129, 161, 193, 0.38);
        border-radius: 16px;;
    }

        /* mainPage--readingPage */
        .PersonalReading__mainPage--readingPage {
            height: 100%;
            /* border: 1px solid black; */
            position: relative;
            border-right: 1px solid #E2E5E6;
            /* width: 65%; */
            /* flex-grow: 3; */
        }
        
            /* mainPage--goBackButtons */ 
            .PersonalReading__mainPage--goBackButtons {
                position: absolute;
                z-index: 10;
                width: 64px;
                bottom: 0.5%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #FFFFFF;
                border: 2px solid var(--color-1-c);
                border-radius: 8px;
                -webkit-box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.33); 
                box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.33);
                
                display: flex;
                justify-content: center;
            }
            
                /* go, back Buttons */
                .goButton, .backButton {
                    margin: 4px;
                    width: 18px;
                    height: 18px;
                    background-color: #FFFFFF;
                    border: 2px solid var(--color-1-c);
                    border-radius: 100%;
                    color: var(--color-1-c);
                    transition: color 0.15s, background-color 0.15s ease-in-out;
                    cursor: pointer;
                }
                
                .goButton:hover, .backButton:hover {
                    background-color: var(--color-1-a);
                }
                
                /* mainPage--info */
                .PersonalReading__mainPage--info {
                    position: absolute;
                    z-index: 10;
                    border: 1px solid #E2E5E6;
                    border-radius: 8px;
                    width: 64px;
                    height: 24px;
                    top: 16px;
                    right: 24px;
                    background-color: #FFFFFF;
                    font-weight: 700;
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
                    /* mainPage--info--input */
                    .PersonalReading__mainPage--info--input {
                        all: unset;
                        border: none;
                        border-bottom: 1px solid #9ca4a7;
                        /* border-radius: 8px; */
                        width: 20px;
                        color: var(--color-1-b);
                        cursor: text;
                    }
                    
                    .PersonalReading__mainPage--info--input::placeholder {
                        text-align: end;
                        color: var(--color-1-b);
                    }

            /* highlightList */
            .PersonalReading__highlightList {
                /* border: 1px solid #E2E5E6; */
                border-radius: 0 16px 16px 0;
                padding: 24px;
                background: inherit;
                box-sizing: border-box;
                background-color: #fff;
                width: 100%;
                height: 100%;
            }
    
        /* mainPage--textEditor */
        .PersonalReading__mainPage--textEditor {
            width: 100%;
            height: inherit;
            border: 1px solid #E2E5E6;
            border-radius: 16px;
            background-color: #FFFFFF;
            /* flex: 1; */
            box-sizing: border-box;
            
            /* flex-grow: 3; */ 
            display: flex;
            flex-direction: column;           
        }
        
            .PersonalReading__mainPage--textEditor--wrap {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }    
        
                /* mainPage--textEditor--info */
                .PersonalReading__mainPage--textEditor--info {
                    margin: 24px;
                }
    
/* highlight Button */
.HighlightButton__wrap {
    width: 96px;
    height: 32px;
    border: 1px solid #E2E5E6;
    border-radius: 16px;
    background-color: var(--color-white);
    position: absolute;
    z-index: 10;
    
    /* display: none; */
    display: none;
    align-items: center;
    justify-content: space-evenly;
}

.HighlightButton {
    border: 1px solid #93E7A2;
    background-color: #E6F9EF
}

.HighlightButton__purple {
    border: 1px solid #9747FF;
    background-color: #E1BCEF;
}

.HighlightButton__yellow {
    border: 1px solid #FFD644;
    background-color: #FDF796;
}

.HighlightButton, .HighlightButton__purple, .HighlightButton__yellow {
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

.HighlightButton:hover, .HighlightButton__purple:hover, .HighlightButton__yellow:hover {
    opacity: 0.5;
}

.HighlightButton i {
    pointer-events: none;
}

.btnEntrance {
    animation-duration: 0.15s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}

.highlightedGreen {
    font-weight: bold;
    background-color: #93E7A2;
    border-radius: var(--border-radius-2);
    
    /* animation: highlightSmoothAppear 0.25s; */
}

.highlightedPurple {
    font-weight: bold;
    background-color: #E1BCEF;
    border-radius: var(--border-radius-2);
    
    /* animation: highlightSmoothAppear 0.25s; */
}

.highlightedYellow {
    font-weight: bold;
    background-color: #eef352dc;
    border-radius: var(--border-radius-2);
    
    /* animation: highlightSmoothAppear 0.25s; */
}

.ToPdfButton {
    cursor: pointer;
    font-size: 32px;
    transition: all 0.25s;
    margin-right: 32px;
}

.ToPdfButton:hover {
    transform: rotate(20deg) scale3d(1.2, 1.2, 1.2);
}

@keyframes btnEntrance {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    100% {
        opacity: 1;
    }
}

@keyframes highlightSmoothAppear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.heading.h1 {
    height: 48px !important;
}

.heading.h2 {
    height: 40px !important;
}

.heading.h3 {
    margin: 16px 0 !important;
}