/* 리딩페이지는 module로 하는 게 좋아보이지 않음
   classname으로 queryselector하는 게 있기 때문에
   classname 형태를 유지하는 게 더 좋아보임!
   따라서 이후 이 css만 참고하길 바랍니다 ~_~ */

.read{
    display: flex;
}

.readPage{
    margin-top: -19px;
    width: 1000px;   
}

.viewer{
    height: 100vh;
    position:relative;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.prevBtn,
.nextBtn{
    /* all: unset; */
    /* margin: 0 6px; */
    border-radius: 100%;
    border: 0;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    position: relative;
    top: 300px
}

.prevBtn{
    background: url('../../../public/images/previous.png') center/cover no-repeat;
    left: 20px;
}

.nextBtn{
    background: url('../../../public/images/next.png') center/cover no-repeat;
    left:885px;
}

.prevBtn:hover,
.nextBtn:hover{
    opacity: 80%;
}

.highlightBtn{
    width: 2.0rem;
    height: 2.0rem;
    cursor: pointer;
    border: 1px solid var(--color-1-c);
    /* border : none; */
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 150px;
    z-index: 10;
    display: none;
    transition: color 0.2s, background-color 0.2s ease-in-out;
    background: url('../../../public/images/highlighter.png') center/cover no-repeat;
    background-color: var(--color-white);

}

.highlightBtn:hover{
    color: var(--color-white);
    background-color: var(--color-1-c);
}