.PersonalReading {
    box-sizing: border-box;
    /* border: 1px solid black; */
}

.PersonalReading__container {
    /* border: 1px solid black; */
    
    display:flex;
}

    /* sideBar */
    .PersonalReading__sideBar {
        position: absolute;
        left: 0;
        width: 10px;
        border: 1px solid red;
        z-index: 10;
        color: red;
        
        align-self: center;
    }

    /* mainPage */
    .PersonalReading__mainPage {
        /* width: 1000px; */
        margin-right: 12px;
        height: 88vh;
        border: 1px solid #E2E5E6;
        border-radius: 0 16px 16px 0;
        
        display: flex;
        /* flex: 3; */
        /* flex-grow: 7; */
    }

        /* mainPage--readingPage */
        .PersonalReading__mainPage--readingPage {
            height: 100%;
            /* border: 1px solid black; */
            position: relative;
            /* width: 65%; */
            
            /* flex-grow: 3; */
            flex: 1.6;
        }

        /* mainPage--textEditor */
        .PersonalReading__mainPage--textEditor {
            height: 100%;
            /* border: 1px solid #E2E5E6; */
            border-radius: 0 16px 16px 0;
            background-color: #FFFFFF;
            /* max-width: 35%; */
            
            /* flex-grow: 3; */
            flex: 1;
        }
        
            /* mainPage--textEditor--info */
            .PersonalReading__mainPage--textEditor--info {
                margin-left: 6px;
            }

    /* highlightList */
    .PersonalReading__highlightList {
        /* width: 350px; */
        margin-left: 12px;
        border: 1px solid #E2E5E6;
        border-radius: 16px 0 0 16px;
        padding: 24px;
        background: #FFFFFF;
        
        /* flex-grow: 3; */
        /* flex: 0.8; */
    }
    
/* highlight Button */
.HighlightButton {
    width: 2.0rem;
    height: 2.0rem;
    /* font-size: 1.0rem; */
    color: var(--color-1-c);
    cursor: pointer;
    border: 2px solid var(--color-1-c);
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 150px;
    z-index: 10;
    display: none;
    transition: color 0.2s, background-color 0.2s ease-in-out;
    background-color: var(--color-white);
}

.HighlightButton:hover {
    color: var(--color-white);
    background-color: var(--color-1-c);
}

.HighlightButton i {
    pointer-events: none;
}

.btnEntrance {
    animation-duration: 0.15s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}

.highlighted {
    font-weight: bold;
    background-color: var(--color-2-c);
    border-radius: var(--border-radius-2);
    
    animation: highlightSmoothAppear 0.25s;
}

@keyframes btnEntrance {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    100% {
        opacity: 1;
    }
}

@keyframes highlightSmoothAppear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }