.header{
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #E2E5E6;
}

.logo{
    display: flex;
    cursor: pointer;
    width: 65%;
    margin-left: 15%;
}

.search{
    display: flex;
    border: 1px solid #E2E5E6;
    border-radius: 8px;
    width: 20%;
    height: 60%;
    align-items: center;
    justify-content: center;
    cursor: text;
    margin-left: 3%;
} 

.searchImg{
    width: 8%;
    right: 10%;
}

.searchInput{
    all: unset;
    width: 80%;
    margin-left: 10px;
}

.searchInput::placeholder{
    color: #C7CED9;
}

.nav{
    display: flex;
    margin-left: 20%;
}

.button{
    all: unset;
    color: #2D3748;
    margin: 1rem;
    cursor: pointer;
}

.button:focus{
    font-weight: bold;
    height: 40%;
}