.Highlight__main{
    display: flex;
    justify-content: center;
    text-align: center;
}

.Highlight__book{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13vh;
    flex: 2 1 0;
}

.Highlight__book__image{
    border: 1px solid var(--color-darkWhite);
    border-radius: var(--border-radius);
    background: url('../../../public/images/jacobfugger.png') center/cover repeat;
    /* width: 200px; */
    /* height: 300px; */
    width: 300px;
    height: 400px;
}

.Highlight__book__reading__btn{
    cursor: pointer;
    border-radius: var(--border-radius);
    border: none;
    height: 30px;
    font-size: large;
    background-color: var(--color-1-c);
    color: white;
    width: 200px;
}

.Highlight__book__reading__btn:hover{
    background-color: var(--color-2-a);
}

.Highlight__book__reading__btn:active{
    box-shadow: var(--box-shadow);
    position: var(--position);
    top: var(--top);
}

.Highlight__list__article{
    flex: 2 1 0;
    margin-top: 13vh;
}

.Highlight__list__btn__temp {
    display: flex;
}

.Highlight__list__btn{
    margin-top: 8vh;
}

.Highlight__list__btn2{
    cursor: pointer;
}

.Highlight__list__btn2:hover{
    background-color: var(--color-2-a);
}

.Highlight__list__btn2:active{
    box-shadow: var(--box-shadow);
    position: var(--position);
    top: var(--top);
}

.Highlight__list__btn1, .Highlight__list__btn2{
    border-radius: var(--border-radius);
    border: none;
    height: 30px;
    font-size: large;
    background-color: var(--color-1-c);
    color: white;
    margin-right: 30px;
    margin-left: 30px;
}

.Highlight__list__title{
    margin-top: -5vh;
    
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items:flex-start;
    margin-left: 30px;
}

.Highlight__list__title__name{
    font-weight:bold;
    font-size: x-large;
}

.Highlight__list__title__author{
    font-size: medium;
}

.Highlight__list{
    overflow: auto;
    height: 300px;
    margin-top: 5vh;

}
.Highlight__export{
    flex: 2 1 0;
    margin-top: 28vh;
}

.Highlight__export__btn{
    cursor: pointer;
    border-radius: var(--border-radius);
    background-color: var(--color-1-c);
    border: none;
    height: 30px;
    font-size: large;
    color: white;
    position: relative;
    top: 0;
    right: 120px;
    /* margin-right: 330px; */
    /* margin: auto; */
}

.Highlight__export__btn:hover{
    background-color: var(--color-2-a);
}

.Highlight__export__btn:active{
    box-shadow: var(--box-shadow);
    position: var(--position);
    top: var(--top);
}

.li__color__edit{
    text-align: left;
}

.li__color__edit li{
    cursor: pointer;
    /* margin: 3px; */
}

.li__color__edit li:hover{
    display: inline;
    background-color: black;
    color: var(--color-white);
} 
/* 일단 한 색깔만 하게 했음 ↑ 색 구분하려면 아래 주석 때린 거 hover, marker 해야함 */

.li__color__edit li[data-level="0"] {
    list-style: none;
}

/* .li__color__edit li[data-level="1"]:hover{
    background-color: var(--color-pink);
}

.li__color__edit li[data-level="2"]:hover{
    background-color: var(--color-green);
}

.li__color__edit li[data-level="3"]:hover{
    background-color: var(--color-blue);
}

.li__color__edit li[data-level="1"]::marker {
    color: var(--color-pink);
}

.li__color__edit li[data-level="2"]::marker {
    color: var(--color-green);
}

.li__color__edit li[data-level="3"]::marker {
    color: var(--color-blue);
} */
